<div class="flex bg-gray-100 dark:bg-gray-800 rounded-lg divide-x divide-gray-50 dark:divide-gray-900">
  <button
    class="dark:text-white text-xs py-1.5 pl-3 pr-2 h-9"
    [disabled]="!canGoToPreviousOption()"
    (click)="selectPreviousOption()"
  >
    <svg
      class="h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      [style.view-transition-name]="'arrow-left'"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 19l-7-7m0 0l7-7m-7 7h18"
      ></path>
    </svg>
  </button>

  <select
    [(ngModel)]="selectedOption"
    class="h-full bg-gray-100 cursor-pointer border-r-8 border-r-transparent text-gray-900 text-xs focus:ring-gray-500 p-2.5 pr-10 dark:bg-gray-800 dark:placeholder-gray-400 dark:text-[#fff] dark:focus:ring-gray-500"
  >
    @for (option of options; track $index) {
    <option [value]="option">{{ formatOption(option) }}</option>
    } @empty {
    <option [value]="selectedOption()">Today</option>
    }
  </select>

  <button
    class="dark:text-white text-xs py-1.5 pl-2 pr-3 h-9"
    [disabled]="!canGoToNextOption()"
    (click)="selectNextOption()"
  >
    <svg
      class="h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M14 5l7 7m0 0l-7 7m7-7H3"
      ></path>
    </svg>
</button>
</div>
