<div [ngClass]="{ dark: (darkModeService.isDarkMode$ | async) }">
  <div class="min-h-screen flex flex-col-reverse lg:flex-col bg-gray-100 dark:bg-gray-950">
    <div
      class="h-12 w-full sticky lg:top-0 bottom-0 flex flex-row items-center bg-[#fff] dark:bg-gray-900 border-b-[1px] border-b-gray-100 dark:border-b-gray-950 z-50"
    >
      <div class="container flex gap-x-2 items-center">
        <img priority src="assets/favicon.ico" class="h-8 w-8 rounded" />

        <app-date-dropdown
          [selectedOption]="dateString()"
          (selectedOptionChange)="setDate($event)"
        ></app-date-dropdown>

        <app-basketball-conferences-dropdown
          class="ml-auto"
          [selectedConference]="selectedConference()"
          (selectedConferenceChange)="selectedConference.set($event)"
        ></app-basketball-conferences-dropdown>

        <button
          (click)="darkModeService.toggleDarkMode()"
          class="bg-gray-100 dark:bg-gray-800 dark:text-white text-xs rounded-lg py-1.5 px-3 h-9"
        >
          {{ (darkModeService.isDarkMode$ | async) ? "☀" : "☾" }}
        </button>
      </div>
    </div>
    <div
      class="grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1 gap-2 p-2 container mx-auto"
      [ngClass]="{ 'opacity-50': scoreboardResult().isFetching && scoreboardResult().data }"
    >
      @if (!scoreboardResult().data && scoreboardResult().isLoading) {
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      <app-game-card></app-game-card>
      } @else { @for (game of games(); track game.id) {
      <app-game-card [game]="game"></app-game-card>
      } @if (games().length === 0) {
      <div
        class="col-span-full py-10 text-center rounded-lg bg-[#fff] dark:bg-gray-900"
      >
        <p class="text-gray-500 dark:text-gray-400 text-lg">No games in {{ selectedConferenceName$ | async }}</p>
      </div>
      } }
    </div>
  </div>
</div>
